<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"  />
    <meta name="keywords" content="user system, user login,user authenticate,authorization,bhim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user system</title>
	
</head>

<body>
    <nav>
        <div>
            <a href="/"><h1>User System</h1></a>
            <p>An app for blogger</p>
          </div>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/registration">Registration</a></li>
          </ul> 
    </nav>

    <h1>Home page</h1>
   

</body>
</html>